.laptopdiv{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 4rem;  
    .Laptopimg{
        width: 90%;
        height: 100%;
    }
    .Laptopw{
        margin-left: 40px;
        width: 100%;
        height: 60%;
 
    }
}
