.phone{

    padding: 10px;
    display: flex;
    align-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: hsl(237, 23%, 32%);
    color: white;
    font-size: 20px;
    border-radius: 0px 100px;
.CellPhone{
   padding: 10px;
   
    
}
.CellPhone img{
    position:relative;
    top: -70px;
}
.Art{

    margin-top: 70px;
    align-items: center;
    justify-content: center;
}
}
